body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(./image.png);
    background-size: cover;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 30px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100px;   
    height: 15px;   
    font-size: 16px; 
    padding: 10px;   
    border: 2px solid #ccc;  
    border-radius: 5px;
}

input, button, label {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

#password {
    margin-top: 30px;
}

input[type="checkbox"] {
    transform: scale(1.2);
}
